body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/resources/shangrilafrontier.png");
    background-position: 1px;
  }

 

  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #9c9c9c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    text-decoration: #c0c0c0;
    color: rgb(211, 211, 211);
  }
  
  .topnav a.active {
    background-color: #636363;
    color: white;
  }
