footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightseagreen;
    text-align: center;
  }
  .hzlogo{
    width: 50px;
  }
  .lmao{
      width: 500px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: 30px;
  }